<div class="container mt-5">
  <div>
    <app-add-todo [currentData] = "currentClickedValue"/>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-4">Todo List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Todo Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todoIter of todoListData | async">
            <td (dblclick)="editTodo(todoIter)">{{todoIter}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>